:root {
    --menu-height: 5vh;
}

header {
    width: 100%;
    font-size: 18px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav>ul {
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
    height: var(--menu-height);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
}

nav>ul>li:hover>a {
    color: #9c9c9c;
}

nav>ul>li>a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li a {
    text-decoration: none;
    color: black;
}